<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

Objectives: this is very good notebook here are some key takeaways
            in which we studied about
            . github
            . jupiter notebook
            . python

ordered list = java, python, c#

Some of the commonly used libraries used by Data Scientists include: NumPy, SciPy, Pandas.

| Sr no:-| Data Science Tools |
| -------|--------------------|
|    1   |      Excel         |
|    2   |      MATLAB        |
|    3   |      Tableau       |

Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
(3*4)+5

17

 This a simple arithmetic expression to mutiply then add integers

In [8]:
total_minutes = 200

# Get hours with floor division
hours = total_minutes // 60

# Get additional minutes with modulus
minutes = total_minutes % 60

# Create time as a string
time_string = "{}:{}".format(hours, minutes)

print(time_string) #This will convert 200 minutes to hours by diving by 60

3:20

In [10]:
# This will convert 200 minutes to hours by diving by 60

<h2> Author </h2>
    Sachin Chahal